<div class="container h-50">
    <div class="row h-100">
        <div class="col-12 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <label class="fs-2 fw-bold px-4 lh-i text-center">
                <b class="colsec">¡MEJORA TUS HABILIDADES Y DESTACA</b> EN TU BÚSQUEDA DE PRÁCTICAS PRE PROFESIONALES!
            </label>
            <!-- Botón debajo del texto -->
            <button class="btn btn-primary mt-4 col-4 py-2 colbtnsec">EMPIEZA AHORA</button>
        </div>
    </div>    
</div>

<!-- Sección de testimonios -->
<div class="container my-5">
    <div class="row text-center d-flex align-items-stretch">
        <!-- Testimonio 1 -->
        <div class="col-md-6 d-flex">
            <div class="card flex-fill"> <!-- flex-fill asegura que la tarjeta ocupe toda la altura disponible -->
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="alumnoAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>"Gracias a Futuro Up conseguí la práctica perfecta."</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">TÚ SE EL PRÓXIMO</button> <!-- mt-auto empuja el botón al final -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- Testimonio 2 -->
        <div class="col-md-6 d-flex">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="alumnoAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>"Me ayudaron a optimizar mi perfil de LinkedIn y fui contactado por varias empresas en muy poco tiempo."</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">TÚ SE EL PRÓXIMO</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sección de servicios -->
<div class="container my-5">
    <div class="row">
        <div class="col-12 my-4 text-center">
            <label class="fs-2 fw-bold px-4 colsec lh-i d-block"><b >Avanza con Confianza</b></label>
            <label class="fs-2 px-4 lh-i d-block">Asesorías que realzan tu perfil profesional</label>            
        </div>
    </div>
    <div class="row text-center d-flex align-items-stretch mt-4">
        <!-- Servicio 1 -->
        <div class="col-md-6 my-1 d-flex">
            <div class="card flex-fill"> <!-- flex-fill asegura que la tarjeta ocupe toda la altura disponible -->
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="cvAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>Redacción y Diseño de CV Profesional</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">Ver más</button> <!-- mt-auto empuja el botón al final -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <!-- Servicio 2 -->
        <div class="col-md-6 my-1 d-flex">
            <div class="card flex-fill"> <!-- flex-fill asegura que la tarjeta ocupe toda la altura disponible -->
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="cvAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>Simulaciones de Entrevistas</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">Ver más</button> <!-- mt-auto empuja el botón al final -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="col-md-6 my-1 d-flex">
            <div class="card flex-fill"> <!-- flex-fill asegura que la tarjeta ocupe toda la altura disponible -->
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="cvAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>Optimización de perfil</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">Ver más</button> <!-- mt-auto empuja el botón al final -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="col-md-6 my-1 d-flex">
            <div class="card flex-fill"> <!-- flex-fill asegura que la tarjeta ocupe toda la altura disponible -->
                <div class="card-body d-flex flex-column">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <img [src]="cvAvatar" class="img-fluid my-3" width="50">
                            </div>
                            <div class="col-12">
                                <blockquote class="blockquote">
                                    <p>Estrategias de búsqueda</p>
                                </blockquote>
                                <button class="btn colbtnprimary text-white mt-auto">Ver más</button> <!-- mt-auto empuja el botón al final -->
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>       
        
    </div>
</div>
