<div class="container h-50">
    <div class="row h-100">
        <div class="col-12 my-5 py-5 d-flex flex-column justify-content-center align-items-center">
            <label class="fs-2 fw-bold px-4 lh-i text-center">
                <b class="colsec">Construyamos juntos oportunidades</b> Alianzas estratégicas para el futuro profesional
            </label>
            <!-- Botón debajo del texto -->
            <button class="btn btn-primary mt-4 col-4 py-2 colbtnsec">EMPIEZA AHORA</button>
        </div>
    </div>    
</div>
<div class="container h-100">
    <div class="row">
        <div class="col-md-6 my-4 d-flex justify-content-center">
          <div class="card text-center" style="width: 18rem;">
            <img [src]="sede_utp" class="card-img-top" alt="UTP">
            <div class="card-body">
              <h2 class="card-title">UTP</h2>
              <button class="btn colbtnprimary text-white mt-auto">MÁS INFO</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-4 d-flex justify-content-center">
          <div class="card text-center" style="width: 18rem;">
            <img [src]="sede_ucv" class="card-img-top" alt="UCV">
            <div class="card-body">
              <h2 class="card-title">UCV</h2>
              <button class="btn colbtnprimary text-white mt-auto">MÁS INFO</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-4 d-flex justify-content-center">
          <div class="card text-center" style="width: 18rem;">
            <img [src]="sede_upc" class="card-img-top" alt="UPC">
            <div class="card-body">
              <h2 class="card-title">UPC</h2>
              <button class="btn colbtnprimary text-white mt-auto">MÁS INFO</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 my-4 d-flex justify-content-center">
          <div class="card text-center" style="width: 18rem;">
            <img [src]="sede_upn" class="card-img-top" alt="UPN">
            <div class="card-body">
              <h2 class="card-title">UPN</h2>
              <button class="btn colbtnprimary text-white mt-auto">MÁS INFO</button>
            </div>
          </div>
        </div>
    </div>
</div>
